@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --main: #1c46cf;
  --sub: #00db25;
  --dark: #10004b;
  /* --back: #ff00001a; */
  --backMain: #dfdfdf33;
  /* --gray: #e6f1ff61; */
  --white: #fff;
  --black: #161618;
  --red: #F44336;
  --green: #51A856;
  --grey-light: #f1f2f2;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #b2b2b2;
}

sub {
  display: block;
  font-size: 1em;
  letter-spacing: 2px;
  text-align: center;
  padding: 10px 0 40px;
}

h3 {
  width: 100%;
  /* font-size: 2em; */
  text-align: center;
  text-transform: uppercase;
  margin: 1em 0;
}

.page {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 30px 0 #8d8d8d;
  background-color: var(--black);
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}

.header .logo {
  height: 50px;
}

.header nav {
  display: inherit;
  text-transform: uppercase;
  width: 100%;
  height: 90px;
  justify-content: flex-end;
  align-items: center;
}

.header nav ul {
  margin: 0;
  display: inherit;
  justify-content: flex-end;
  color: var(--grey-light);
  font-family: "Montserrat";
}

.header nav li {
  font-size: 0.95em;
  list-style: none;
  font-weight: 500;
  display: inline;
  padding: 0 15px;
}

.header nav li:hover {
  color: var(--red);
  /* color: #ffb9b4; */
  cursor: pointer;
}

main {
  flex: 1 1 auto;
  background-color: var(--grey-light);
}

.main {
  flex: 1 1 auto;
  position: relative;
  box-sizing: border-box;
  padding: 70px 20px;
}

.main h1 {
  text-transform: uppercase;
  text-align: center;
  padding: 40px 0 0;
  font-size: 2.5em;
  margin-top: 0;
}

.main #banner {
  position: absolute;
  width: 250px;
  height: 90px;
  background-color: var(--grey-light);
  box-shadow: 2px 2px 5px #999;
  padding: 1em 1.5em;
  color: var(--black);
  border-radius: 20px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  z-index: 3;
  animation: padd 0.5s ease infinite;
}

.main #banner button {
  background: linear-gradient(50deg, var(--red), #c40000);
  padding: 15px 50px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  font-size: 0.8em;
  font-weight: bold;
  color: white;
}

.main form {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.main form .radio {
  cursor: pointer;
}

.main form .radio input[type=radio],
.main form .radio input[type=checkbox] {
  opacity: 0;
}

.main form .radio .radioin:checked+.fakeradio::before {
  opacity: 1;
}

.main form .radio .fakeradio {
  display: inline-block;
  border: 3px var(--black) solid;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  position: relative;
  margin-right: 0.5em;
  top: 0.3em;
}

.main form .radio .fakeradio::before {
  content: "";
  position: absolute;
  display: block;
  height: 1em;
  width: 1em;
  background-color: var(--black);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: ease-in-out 0.1s;
}

.main .table-wrapper {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  box-sizing: border-box;
}

.main .table-wrapper h3 {
  margin-top: 80px;
}

.main .table-wrapper div img {
  width: 100%;
}

.main .table-wrapper .table {
  position: relative;
  width: 50%;
  margin-right: 20px;
}

.main .table-wrapper .table img {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.main .table-wrapper .table,
.main .table-wrapper .ingridients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.main .table-wrapper .ingridients {
  width: 30%;
}

.main .table-wrapper .ingridients span {
  font-size: 0.9em;
  color: var(--black);
  display: block;
  text-align: center;
}

.main .table-wrapper .ingridients div {
  display: grid;
  grid-template-rows: 100px 1fr;
  width: 30%;
}

.main .table-wrapper .ingridients div img {
  grid-row: 1;
  height: 100px;
  cursor: grab;
}

.main .table-wrapper .ingridients div img:active {
  cursor: grabbing;
}

.main .table-wrapper .ingridients span {
  grid-row: 2/3;
  align-self: flex-end;
}

.main .result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 3em;
}

.main .result p {
  font-size: 1.5em;
  text-transform: uppercase;
}

.main .result span {
  font-weight: 700;
  text-transform: lowercase;
  margin-left: 10px;
}

.main .result .result__list {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.main .result .result__item {
  font-size: 14px;
  font-weight: 500;
  text-transform: inherit;
  margin: 0px 10px 0 0;
}

.main .result .result__img {
  cursor: pointer;
}

.main .result .result__img:hover {
  background-color: red;
}

.footer {
  background-color: var(--black);
  box-sizing: border-box;
  padding: 60px 20px 40px;
}

.footer h3 {
  color: var(--grey-light);
}

.footer sub {
  color: var(--grey-light);
}

.footer .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.footer .grid label {
  color: var(--grey-light);
  justify-self: right;
  margin: 1em;
}

.footer .grid input {
  padding: 10px;
  height: 20px;
  width: 240px;
  margin: 1em;
  border-radius: 10px;
  border: 4px solid var(--grey-light);
  outline: none;
  font-size: 0.9em;
  background-color: var(--grey-light);
}

.footer .grid .success {
  /* box-shadow: 0 0 15px 8px var(--green); */
  border: 4px solid var(--green);
}

.footer .grid .error {
  /* box-shadow: 0 0 15px 8px var(--red); */
  border: 4px solid var(--red);
}

.footer .grid .button {
  padding: 0;
  height: 40px;
  width: 300px;
  font-size: 0.9em;
  background: linear-gradient(50deg, var(--red), #f4433694);
  color: var(--grey-light);
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 10px;
  justify-self: flex-end;
  cursor: pointer;
}

.footer .grid .button:last-child {
  background: linear-gradient(30deg, var(--green), #51a856a6);
  height: 50px;
  width: 350px;
  justify-self: flex-start;
}

.footer .grid .button:last-child[disabled] {
  opacity: 0.3;
  cursor: no-drop;
}

/* .footer address {
  text-align: center;
  margin-top: 40px;
  color: white;
} */

@keyframes padd {
  50% {
    padding: 1.2em 1.7em;
    margin: 0 -0.2em -0.2em 0;
  }
}